---
import DesignImage from '../../images/diseño.png';
import CompanyImage from '../../images/empresa.jpg';
import LandingPageImage from '../../images/landingpage.jpg';
import ServicesImage from '../../images/servicios.jpg';
import ArrowIcon from './icons/arrow.svg';
---

<!-- Contenedor principal de Swiper -->
<div class="swiper">
    <!-- Wrapper adicional requerido -->
    <div class="swiper-wrapper" id="my-slider">
      <!-- Los slides -->
      <a 
        class="swiper-slide"
        href='/creative-projects'
        target="_self"
      >
        <div class="slide-content">
          <img src={DesignImage.src} alt="Creative Projects" class="slide-image" />
          <span class="slide-text">
              Portfolios y proyectos creativos
              <img src={ArrowIcon.src} alt="Flecha" class="arrow-icon" />
          </span>
        </div>
      </a>
      <a 
        class="swiper-slide"
        href="/company-website"
        target="_self"
      >
        <div class="slide-content">
          <img src={CompanyImage.src} alt="Company Website" class="slide-image"/>
          <span class="slide-text">
              Sitios web corporativos
              <img src={ArrowIcon.src} alt="Flecha" class="arrow-icon" />
          </span>
        </div>
      </a>
      <a 
        class="swiper-slide"
        href="/company-landing-page"
        target="_self"
      >
        <div class="slide-content">
          <img src={LandingPageImage.src} alt="Company Landing Page" class="slide-image"/>
          <span class="slide-text">
              Landing page para empresas
              <img src={ArrowIcon.src} alt="Flecha" class="arrow-icon" />
          </span>
        </div>
      </a>
      <a 
        class="swiper-slide"
        href="/booking-feature"
        target="_self"
      >
        <div class="slide-content">
          <img src={ServicesImage.src} alt="Booking Feature" class="slide-image"/>
          <span class="slide-text">
              Páginas web con reservas y citas
              <img src={ArrowIcon.src} alt="Flecha" class="arrow-icon" />
          </span>
        </div>
      </a>
    </div>
</div>

<script>
    // Core de Swiper y estilos
    import Swiper from 'swiper';
    import 'swiper/css';
    // Módulo Navigation de Swiper y estilos
    import { Navigation } from "swiper/modules";
    import "swiper/css/navigation";

    let swiper;

    function initializeSwiper() {
      // Solo inicializa Swiper en pantallas más pequeñas
      if (window.innerWidth < 768 && !swiper) {
        swiper = new Swiper(".swiper", {
          modules: [Navigation],
          loop: true,
          slidesPerView: 1.5,
          spaceBetween: 10,
          centeredSlides: true,
          breakpoints: {
            768: {
              slidesPerView: 4,
              spaceBetween: 10
            },
          },
        });
      }
    }

    function destroySwiper() {
      // Destruir el Swiper si el tamaño es mayor a 768px
      if (swiper && window.innerWidth >= 768) {
        swiper.destroy();
        swiper = null;
      }
    }

    window.addEventListener('resize', () => {
      initializeSwiper();
      destroySwiper();
    });

    // Inicializar Swiper cuando se carga la página
    initializeSwiper();
</script>
