---
import DesignImage from '../../images/diseño.jpg';
import CompanyImage from '../../images/empresa.jpg';
import LandingPageImage from '../../images/landingpage.jpg';
import ServicesImage from '../../images/servicios.jpg';
import ArrowIcon from './icons/arrow.svg';

// Definir el array de slides
const slides = [
  {
    link: '/portfolios',
    image: DesignImage.src,
    alt: 'Escritorio con ordenador y varias paletas de colores y postits que muestran el proceso de diseño',
    text: 'Portfolios y proyectos creativos',
  },
  {
    link: '/corporativo',
    image: CompanyImage.src,
    alt: 'Oficina en la que se ve trabajando a cuatro chicas con sus ordenadores.',
    text: 'Sitios web corporativos',
  },
  {
    link: '/landing',
    image: LandingPageImage.src,
    alt: 'Pantalla de ordenador que muestra un ejemplo de web para empresas',
    text: 'Landing page para empresas',
  },
  {
    link: '/reservas',
    image: ServicesImage.src,
    alt: 'Calendario de reserva de citas, en formato ordenador y en formato movil.',
    text: 'Páginas web con reservas y citas',
  },
  {
    link: '/portfolios',
    image: DesignImage.src,
    alt: 'Escritorio con ordenador y varias paletas de colores y postits que muestran el proceso de diseño',
    text: 'Portfolios y proyectos creativos',
  },
  {
    link: '/corporativo',
    image: CompanyImage.src,
    alt: 'Oficina en la que se ve trabajando a cuatro chicas con sus ordenadores.',
    text: 'Sitios web corporativos',
  },
  {
    link: '/landing',
    image: LandingPageImage.src,
    alt: 'Pantalla de ordenador que muestra un ejemplo de web para empresas',
    text: 'Landing page para empresas',
  },
  {
    link: '/reservas',
    image: ServicesImage.src,
    alt: 'Calendario de reserva de citas, en formato ordenador y en formato movil.',
    text: 'Páginas web con reservas y citas',
  },
];
---

<div class='swiper'>
  <div class='swiper-wrapper' id='my-slider'>
    <!-- Iterar sobre los slides y renderizar cada uno -->
    {
      slides.map((slide) => {
        return (
          <a class='swiper-slide' href={slide.link} target='_self' key={slide.link}>
            <div class='slide-content'>
              <img
                src={slide.image}
                alt={slide.alt}
                class='slide-image'
                srcset={`${slide.image}?w=210 210w`}
                sizes={`(max-width: 767px) 210px`}
                width='300'
                height='300'
                loading='lazy'
              />
              <span class='slide-text'>
                {slide.text}
                <img src={ArrowIcon.src} alt='Flecha' class='arrow-icon' width='42.43' height='42.43' />
              </span>
            </div>
          </a>
        );
      })
    }
  </div>
</div>

<script>
  import Swiper from 'swiper';
  import { Navigation } from 'swiper/modules';

  const swiper = new Swiper('.swiper', {
    modules: [Navigation],
    loop: true,
    slidesPerView: 1.5,
    centeredSlides: true,
    spaceBetween: 10,
  });
</script>
