---
import DesignImage from '../../images/dise침o.png';
import CompanyImage from '../../images/empresa.jpg';
import LandingPageImage from '../../images/landingpage.jpg';
import ServicesImage from '../../images/servicios.jpg';
import ArrowIcon from './icons/arrow.svg';
---

<!-- Contenedor principal de Swiper -->
<div class='swiper'>
	<!-- Wrapper adicional requerido -->
	<div class='swiper-wrapper' id='my-slider'>
		<!-- Los slides -->
		<a class='swiper-slide' href='/portfolios' target='_self'>
			<div class='slide-content'>
				<img
					src={DesignImage.src}
					alt='Escritorio con ordenador y varias paletas de colores y postits que muestran el proceso de dise침o'
					class='slide-image'
					width='254'
					height='254'
					
				/>
				<span class='slide-text'>
					Portfolios y proyectos creativos
					<img src={ArrowIcon.src} alt='Flecha' class='arrow-icon' width='42.43' height='42.43' />
				</span>
			</div>
		</a>
		<a class='swiper-slide' href='/corporativo' target='_self'>
			<div class='slide-content'>
				<img
					src={CompanyImage.src}
					alt='Oficina en la que se ve trabajando a cuatro chicas con sus ordenadores.'
					class='slide-image'
					width='254'
					height='254'
					
				/>
				<span class='slide-text'>
					Sitios web corporativos
					<img src={ArrowIcon.src} alt='Flecha' class='arrow-icon' width='42.43' height='42.43' />
				</span>
			</div>
		</a>
		<a class='swiper-slide' href='/landing' target='_self'>
			<div class='slide-content'>
				<img
					src={LandingPageImage.src}
					alt='Pantalla de ordenador que muestra un ejemplo de web para empresas'
					class='slide-image'
					width='254'
					height='254'
					
				/>
				<span class='slide-text'>
					Landing page para empresas
					<img src={ArrowIcon.src} alt='Flecha' class='arrow-icon' width='42.43' height='42.43' />
				</span>
			</div>
		</a>
		<a class='swiper-slide' href='/reservas' target='_self'>
			<div class='slide-content'>
				<img
					src={ServicesImage.src}
					alt='Calendario de reserva de citas, en formato ordenador y en formato movil. '
					class='slide-image'
					width='254'
					height='254'
					
				/>
				<span class='slide-text'>
					P치ginas web con reservas y citas
					<img src={ArrowIcon.src} alt='Flecha' class='arrow-icon' width='42.43' height='42.43' />
				</span>
			</div>
		</a>
		<a class='swiper-slide' href='/portfolios' target='_self'>
			<div class='slide-content'>
				<img
					src={DesignImage.src}
					alt='Portfolios y proyectos creativos'
					class='slide-image'
					width='254'
					height='254'
					
				/>
				<span class='slide-text'>
					Portfolios y proyectos creativos
					<img src={ArrowIcon.src} alt='Flecha' class='arrow-icon' width='42.43' height='42.43' />
				</span>
			</div>
		</a>
		<a class='swiper-slide' href='/corporativo' target='_self'>
			<div class='slide-content'>
				<img
					src={CompanyImage.src}
					alt='Sitios web corporativos'
					class='slide-image'
					width='254'
					height='254'
					
				/>
				<span class='slide-text'>
					Sitios web corporativos
					<img src={ArrowIcon.src} alt='Flecha' class='arrow-icon' width='42.43' height='42.43' />
				</span>
			</div>
		</a>
		<a class='swiper-slide' href='/landing' target='_self'>
			<div class='slide-content'>
				<img
					src={LandingPageImage.src}
					alt='Company Landing Page'
					class='slide-image'
					width='254'
					height='254'
					
				/>
				<span class='slide-text'>
					Landing page para empresas
					<img src={ArrowIcon.src} alt='Flecha' class='arrow-icon' width='42.43' height='42.43' />
				</span>
			</div>
		</a>
		<a class='swiper-slide' href='/reservas' target='_self'>
			<div class='slide-content'>
				<img
					src={ServicesImage.src}
					alt='Booking Feature'
					class='slide-image'
					width='254'
					height='254'
					
				/>
				<span class='slide-text'>
					P치ginas web con reservas y citas
					<img src={ArrowIcon.src} alt='Flecha' class='arrow-icon' width='42.43' height='42.43' />
				</span>
			</div>
		</a>
	</div>
</div>

<script>
	import Swiper from 'swiper';
	import { Navigation } from 'swiper/modules';

	const swiper = new Swiper('.swiper', {
		modules: [Navigation],
		loop: true,
		slidesPerView: 1.5,
		centeredSlides: true,
		spaceBetween: 10,
	});
</script>
