---
import MakeupImage from '../../images/peluBanner.png';
import RestaurantImage from '../../images/restauranteBanner.png';
import ArrowIcon from '../components/icons/arrow.svg';
import Qjubiloso from '../../images/qjubiloso.png';
import Image from 'astro/components/Image.astro';
---

<!-- Tamaño movil --><!-- Card 1 --><!-- Card 3 -->
<div class='projects-card'>
	<Image
		class='projects-card__image'
		src={Qjubiloso}
		alt='Ejemplo de web para ofrecer servicio de cuidado de mayores y dependientes'
		loading='lazy'
	/>
	<!-- Triángulo morado con flecha -->
	<div class='projects-card__corner' onclick='toggleOverlay(event)'>
		<img src={ArrowIcon.src} alt='Icono de flecha' class='projects-card__arrow' />
	</div>
	<!-- Overlay morado -->
	<div class='projects-card__overlay'>
		<div class='projects-card__pills'>
			<p class='projects-card__pills-pill'>Web de servicios</p>
			<p class='projects-card__pills-pill'>Diseño UI/UX</p>
			<p class='projects-card__pills-pill'>Contacto</p>
		</div>
		<p class='projects-card__text'>
			Hemos rediseñado la web de una empresa de cuidados de mayores, creando un sitio limpio, funcional y adaptado a las
			necesidades de sus clientes.
		</p>
		<a
			href='https://qjubiloso.es/es/'
			class='projects-card-desktop__container-content-button'
			onclick='event.stopPropagation()'
			target='_blank'>ver</a
		>

		<!-- Evitar que el clic cierre el overlay -->
	</div>
</div>
<div class='projects-card'>
	<Image
		class='projects-card__image'
		src={RestaurantImage}
		alt='Ejemplo de página para un restaurante, con sistema de reservas'
		loading='lazy'
	/>
	<!-- Triángulo morado con flecha -->
	<div class='projects-card__corner' onclick='toggleOverlay(event)'>
		<img src={ArrowIcon.src} alt='Icono de flecha' class='projects-card__arrow' />
	</div>
	<!-- Overlay morado -->
	<div class='projects-card__overlay'>
		<div class='projects-card__pills'>
			<p class='projects-card__pills-pill'>Web de servicios</p>
			<p class='projects-card__pills-pill'>Diseño UI/UX</p>
			<p class='projects-card__pills-pill'>Restaurante</p>
		</div>
		<p class='projects-card__text'>
			Sitio web intuitivo para un restaurante, que incluye menú digital, sistema de reservas y un formulario de contacto
			para mejorar la experiencia del cliente y la gestión del restaurante.
		</p>
		<a
			href='https://restaurant-frontend-gemy.onrender.com/'
			class='projects-card-desktop__container-content-button'
			onclick='event.stopPropagation()'
			target='_blank'>ver</a
		>
		<!-- Evitar que el clic cierre el overlay -->
	</div>
</div>

<div class='projects-card'>
	<Image
		class='projects-card__image'
		src={MakeupImage}
		alt='Muestra de una página web realizada para mostrar los servicios y trabajos de una maquilladora'
		loading='lazy'
	/>
	<!-- Triángulo morado con flecha -->
	<div class='projects-card__corner' onclick='toggleOverlay(event)'>
		<img src={ArrowIcon.src} alt='Icono de flecha' class='projects-card__arrow' />
	</div>
	<!-- Overlay morado -->
	<div class='projects-card__overlay'>
		<div class='projects-card__pills'>
			<p class='projects-card__pills-pill'>Web de servicios</p>
			<p class='projects-card__pills-pill'>Diseño UI/UX</p>
			<p class='projects-card__pills-pill'>Estética</p>
		</div>
		<p class='projects-card__text'>
			Página web diseñada para mostrar el portfolio de una maquilladora, ofrecer servicios y permitir a los clientes
			reservar citas fácilmente a través de un calendario interactivo.
		</p>
		<a
			href='https://jazzy-sawine-757ded.netlify.app/'
			class='projects-card-desktop__container-content-button'
			onclick='event.stopPropagation()'
			target='_blank'>ver</a
		>
		<!-- Evitar que el clic cierre el overlay -->
	</div>
</div>

<!-- Card 2 -->

<!-- Tamaños tablet y desktop -->
<div class='projects-card-desktop'>
	<!-- Card 3 -->
	<div class='projects-card-desktop__container'>
		<Image
			class='projects-card-desktop__container-image'
			src={Qjubiloso}
			alt='Ejemplo de web para ofrecer servicio de cuidado de mayores y dependientes'
			loading='lazy'
		/>
		<div class='projects-card-desktop__container-content'>
			<div class='projects-card-desktop__container-content-pills'>
				<p class='projects-card-desktop__container-content-pills-pill'>Web de servicios</p>
				<p class='projects-card-desktop__container-content-pills-pill'>Diseño UI/UX</p>
				<p class='projects-card-desktop__container-content-pills-pill'>Contacto</p>
			</div>
			<p class='projects-card-desktop__container-content-text'>
				Hemos rediseñado la web de una empresa de cuidados de mayores, creando un sitio limpio, funcional y adaptado a
				las necesidades de sus clientes.
			</p>
			<a
				href='https://qjubiloso.es/es/'
				class='projects-card-desktop__container-content-button'
				onclick='event.stopPropagation()'
				target='_blank'>ver</a
			>
		</div>
	</div>

	<div class='projects-card-desktop__container'>
		<div class='projects-card-desktop__container-content-left'>
			<div class='projects-card-desktop__container-content-pills'>
				<p class='projects-card-desktop__container-content-pills-pill--dark'>Web de servicios</p>
				<p class='projects-card-desktop__container-content-pills-pill--dark'>Diseño UI/UX</p>
				<p class='projects-card-desktop__container-content-pills-pill--dark'>Restaurante</p>
			</div>
			<p class='projects-card-desktop__container-content-text'>
				Sitio web intuitivo para un restaurante, que incluye menú digital, sistema de reservas y un formulario de
				contacto para mejorar la experiencia del cliente y la gestión del restaurante.
			</p>
			<a
				href='https://restaurant-frontend-gemy.onrender.com/'
				class='projects-card-desktop__container-content-button'
				onclick='event.stopPropagation()'
				target='_blank'>ver</a
			>
		</div>
		<Image
			class='projects-card-desktop__container-image-right'
			src={RestaurantImage}
			alt='Ejemplo de página para un restaurante, con sistema de reservas'
			loading='lazy'
		/>
	</div>
	<!-- Card 1 -->
	<div class='projects-card-desktop__container'>
		<Image
			class='projects-card-desktop__container-image'
			src={MakeupImage}
			alt='Muestra de una página web realizada para mostrar los servicios y trabajos de una maquilladora'
			loading='lazy'
		/>
		<div class='projects-card-desktop__container-content'>
			<div class='projects-card-desktop__container-content-pills'>
				<p class='projects-card-desktop__container-content-pills-pill'>Web de servicios</p>
				<p class='projects-card-desktop__container-content-pills-pill'>Diseño UI/UX</p>
				<p class='projects-card-desktop__container-content-pills-pill'>Estética</p>
			</div>
			<p class='projects-card-desktop__container-content-text'>
				Página web diseñada para mostrar el portfolio de una maquilladora, ofrecer servicios y permitir a los clientes
				reservar citas fácilmente a través de un calendario interactivo.
			</p>
			<a
				href='https://jazzy-sawine-757ded.netlify.app/'
				class='projects-card-desktop__container-content-button'
				onclick='event.stopPropagation()'
				target='_blank'>ver</a
			>
		</div>
	</div>

	<!-- Card 2 -->
</div>

<script>
	// Toggle del overlay al hacer clic en el corner
	document.querySelectorAll('.projects-card__corner').forEach((corner) => {
		corner.addEventListener('click', (event) => {
			// Aseguramos que currentTarget sea un Element
			const card = (event.currentTarget as Element).closest('.projects-card');
			if (card) {
				const overlay = card.querySelector('.projects-card__overlay');
				if (overlay) {
					overlay.classList.toggle('projects-card__overlay--visible');
				}
			}
		});
	});

	// Cerrar el overlay si se hace clic fuera de él o dentro de él (excluyendo el botón "Ver")
	document.addEventListener('click', (event) => {
		const overlay = document.querySelector('.projects-card__overlay--visible');
		if (overlay) {
			// Si el clic es dentro del overlay pero fuera del botón "Ver", lo cerramos
			if (overlay.contains(event.target as Node) && !(event.target as Node).closest('.projects-card__button')) {
				overlay.classList.remove('projects-card__overlay--visible');
			}
		}
	});

	//Animación border
	document.addEventListener('DOMContentLoaded', () => {
		const cards = document.querySelectorAll('.projects-card, .projects-card-desktop__container');

		const observer = new IntersectionObserver(
			(entries, observer) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting && !entry.target.classList.contains('animation-done')) {
						entry.target.classList.add('animate-border', 'animation-done');
						// Una vez añadida la clase, dejamos de observar este elemento
						observer.unobserve(entry.target);
					}
				});
			},
			{
				threshold: 0.1, // Observa cuando el 10% del elemento es visible.
			}
		);

		cards.forEach((card) => observer.observe(card));
	});
</script>
