---
import TitleSecondary from './Titles/TitleSecondary.astro';
const { title, intro, paragraphs = [], image } = Astro.props;
---

<section class='incluye'>

  <article class='incluye__intro'>    
    <div class='incluye__intro-title'>
        <TitleSecondary text={title} />
    </div>

    <div class='incluye__intro-text'>
      {intro}
    </div>
    
    <div class='incluye__intro-img'>
      <img class="incluye__intro-img-item" src={image} alt="">
    </div>
    </article>

    <article class="incluye__paragraphs">
      {paragraphs.map((paragraph, index) => {
        const isLast = index === paragraphs.length - 1;
        const isOdd = paragraphs.length % 2 !== 0;
        const extraClass = isLast && isOdd ? "incluye__paragraphs-text--full" : "";
        return (
          <p 
            class={`incluye__paragraphs-text ${extraClass}`} 
            set:html={paragraph}>
          </p>
        );
      })}
    </article>


</section>
