---
const { titulo, descripcion, descripcionSec, imagen, alt = '' } = Astro.props;
---

<section class={`text-content${imagen ? ' text-content--with-image' : ''}`}>
  <article class='text-content__text'>
    <h3 class='text-content__title'>{titulo}</h3>
    <p class='text-content__description'>{descripcion}</p>
    <br />
    <p class='text-content__description'>{descripcionSec}</p>
  </article>
  {
    imagen && (
      <div class='text-content__image-container'>
        <img src={imagen} alt={alt} class='text-content__image' />
      </div>
    )
  }
</section>
