---
import Designimg from '../../images/diseño.png';
import Companyimg from '../../images/empresa.jpg';
import LandingPageimg from '../../images/landingpage.jpg';
import Servicesimg from '../../images/servicios.jpg';
import ArrowIcon from './icons/arrow.svg';
---

<section class='section-container section-animation'>
	<a href='/portfolios' class='section-container__item'>
		<img class='section-container__image' src={Designimg.src} alt='Portfolios y proyectos creativos' />
		<div class='section-container__overlay'>
			<p class='section-container__text'>Portfolios y proyectos creativos</p>
			<img src={ArrowIcon.src} alt='Flecha' class='section-container__arrow' />
		</div>
	</a>
	<a href='/corporativo' class='section-container__item'>
		<img class='section-container__image' src={Companyimg.src} alt='Sitios web corporativos' />
		<div class='section-container__overlay'>
			<p class='section-container__text'>Sitios web corporativos</p>
			<img src={ArrowIcon.src} alt='Flecha' class='section-container__arrow' />
		</div>
	</a>
	<a href='/landing' class='section-container__item'>
		<img class='section-container__image' src={LandingPageimg.src} alt='Landing page para empresas' />
		<div class='section-container__overlay'>
			<p class='section-container__text'>Landing page para empresas</p>
			<img src={ArrowIcon.src} alt='Flecha' class='section-container__arrow' />
		</div>
	</a>
	<a href='/reservas' class='section-container__item'>
		<img class='section-container__image' src={Servicesimg.src} alt='Páginas web con reservas y citas' />
		<div class='section-container__overlay'>
			<p class='section-container__text'>Páginas web con reservas y citas</p>
			<img src={ArrowIcon.src} alt='Flecha' class='section-container__arrow' />
		</div>
	</a>
</section>
