---
const { numero, titulo, descripcion, imagen, descripcionSec } = Astro.props;
---

<div class='process-step'>
  <div class='process-step__number'>
    {numero}
  </div>
  <div class='process-step__content'>
    <div class='process-step__text-content'>
      <h3 class='process-step__title'>{titulo}</h3>
      <p class='process-step__description'>{descripcion}</p>
      {descripcionSec && <p class='process-step__description'>{descripcionSec}</p>}
    </div>
    {
      imagen && (
        <div class='process-step__image-wrapper'>
          <img src={imagen} alt={titulo} class='process-step__image' />
        </div>
      )
    }
  </div>
</div>
