---
import '../../../styles/global.scss';
import Buttons from '../Buttons/Buttons.astro';

interface Props {
  title: string;
  text: string;
  buttonText: string;
  buttonHref: string;
  buttonClass?: string;
  className?: string;
}

const {
  title,
  text,
  buttonText,
  buttonHref,
  buttonClass = "btnSecondaryDark",
  className = "",
} = Astro.props;
---

<section class={`cardPregunta ${className}`}>
  <article class="cardPregunta__content">
    <h2 class="cardPregunta__content-title">{title}</h2>
    <p class="cardPregunta__content-text">{text}</p>
    <div class="cardPregunta__content-btn">
      <Buttons className={buttonClass} href={buttonHref}>
        {buttonText}
      </Buttons>
    </div>
  </article>
</section>
