---
import Layout from '../../layouts/Layout.astro';
import TitlesHero from '../../layouts/components/Titles/TitlesHero.astro';
// import { posts } from '../../data/posts.js';
import TitleSecondary from '../../layouts/components/Titles/TitleSecondary.astro';
import Subtitle from '../../layouts/components/Titles/Subtitle.astro';
import Buttons from '../../layouts/components/Buttons/Buttons.astro';
import { getCollection } from 'astro:content';
// Obtener los posts y ordenarlos por fecha (más reciente primero)
const allPosts = await getCollection('blog');
allPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection('blog');
  allPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
  return paginate(allPosts, { pageSize: 6 });
}

const { page } = Astro.props;
const postsData = page.data;

const title = 'Blog | Astracodelab';
const description = 'Conoce cómo protegemos tus datos personales en Astracodelab.';
const permalink = Astro.url.href;
const robots = 'index, follow';
---

<Layout title={title} description={description} permalink={permalink} robots={robots}>
  <main class='index-blog'>
    <div class='container-blog'>
      <TitlesHero title='Blog AstracodeLAB' className='heroHome' />
      <TitleSecondary text='Guías técnicas, tendencias web y diseño y desarrollo web.' />

      <section class='container-posts blog-grid'>
        {
          postsData &&
            postsData.map((post) => (
              <article class='post-card'>
                <img src={post.data.image} alt={post.data.title} class='blog-card-img' />
                <div class='blog-card-content'>
                  <Subtitle text={post.data.title} />
                  <p class='blog-card-text'>{post.data.excerpt}</p>

                  <div class='servicesHome__services-containerMant-services-cta'>
                    <Buttons className='btnSecondaryDark' href={`/blog/${post.id}/`}>
                      Leer más
                    </Buttons>
                  </div>
                </div>
              </article>
            ))
        }
      </section>
      <nav class='pagination-blog'>
        {
          page.url.prev ? (
            <a href={page.url.prev} class='pag-btn'>
              ← Anterior
            </a>
          ) : (
            <span class='disabled'>← Anterior</span>
          )
        }

        <span>
          {page.currentPage} de {page.lastPage} página
        </span>

        {
          page.url.next ? (
            <a href={page.url.next} class='pag-btn'>
              Siguiente →
            </a>
          ) : (
            <span class='disabled'>Siguiente →</span>
          )
        }
      </nav>
    </div>
  </main>
</Layout>
