---
import Header from './partials/Header.astro';
import Footer from './partials/Footer.astro';
import '../styles/global.scss';

// Props con valores por defecto
const {
  title = 'AstracodeLAB | Diseño y desarrollo web',
  description = 'AstracodeLAB crea páginas web modernas y accesibles para pequeñas empresas y autónomos. Diseño y desarrollo web profesional para potenciar tu marca.',
  url = 'https://astracodelab.com/',
  image = '/og_astracode.png',
} = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />

    <!-- Open Graph -->
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />
    <meta property='og:url' content={url} />

    <!-- Extras que ya usabas -->
    <meta name='msvalidate.01' content='08A045B5065017F91DE8FBA3B76391FC' />
    <meta name='facebook-domain-verification' content='siis4pr1xna8mdw75uoabxrpl3t3s8' />
    <meta name='generator' content={Astro.generator} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>
